@model WriterMessage
@{
    ViewData["Title"] = "SenderMesssageDetails";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="card-header ">
    <h3>Mesaj Detayları</h3>
</div>
<br />
<form class="form-group" asp-action="SenderMesssageDetails">
    <input class="form-control" type="hidden" asp-for="WriterMessageID" />
    <label><b>Gönderen Adı</b></label>
    <input class="form-control" type="text" asp-for="SenderName" />
    <br />
    <label><b>Gönderen Mail</b></label>
    <input class="form-control" type="text" asp-for="Sender" />
    <br />
    <label><b>Mesaj</b></label>
    <textarea class="form-control" asp-for="MessageContent"></textarea>
</form>
