@model Message
@{
    ViewData["Title"] = "ViewMessage";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            
            <form asp-action="ViewMessage">
                <input type="hidden" asp-for="MessageID" />
                <div>
                    <label><b>Gönderen Adı</b></label>
                    <input type="text" asp-for="Name" class="form-control" />
                </div>
                <br />
                <div>
                    <label><b>Tarih</b></label>
                    <input type="text" asp-for="Date" class="form-control" />
                </div>
                <br />
                <div>
                    <label><b>Mesaj</b></label>
                    <textarea class="form-control" asp-for="Content"></textarea>
                </div>
                <br />
                <a class="btn btn-info" asp-controller="Contact" asp-action="Index">Geri Dön</a>

            </form>

        </div>
    </div>
</div>
            
            


